html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* login.html & register.html
.full-height {
    min-height: 100vh;
    display: flex;
    align-items: center;
} */

.login-card{
    max-width: 40%;
    min-width: 200px; 
    background-color: rgba(255, 255, 255, 0);
    margin: auto; 
}

.login-card .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.login-card label {
    font-size: 14px; 
}

.login-card .card-footer {
    font-size: 14px; 
}

.register-card{
    padding: 20px;
    max-width: 40%;
    min-width: 400px;
    background-color: rgba(255, 255, 255, 0);
    opacity: 75;
    margin: auto;
}

.register-card .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.register-card .form-group {
    margin-bottom: 10px; 
}

.register-card label {
    font-size: 14px; 
}

.register-card .card-footer {
    font-size: 14px; 
}

.card-body {
    padding: 30px;
}

/* End - login.html & register.html */

/* navbar */
.navbar {
    height: 40px; 
    display: flex;
    align-items: center;
    z-index: 3;
}

.navbar-brand img {
    max-height: 30px; 
    width: auto;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: rgb(7, 61, 36) !important;  
    background-color: transparent !important; 
}

.navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-nav .dropdown-menu .dropdown-item:focus {
    color: rgb(7, 61, 36) !important;  
    background-color: rgba(255, 255, 255, 0.5) !important; 
}

.navbar {
  position: fixed; 
  top: 0;  
  left: 0;  
  width: 100%;  
  height: 60px;
  z-index: 1030;  
  background-color: #fff; 
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  padding: 10px 15px;
}

.navbar-nav .nav-link {
  padding: 10px 15px;
}

.navbar-placeholder {
  height: 60px;
}

@media (min-width: 992px) {
    .navbar {
        padding-top: 0.375rem;
        padding-bottom: 0.375rem;
    }
}

.navtop {
    background-color: #FBBA00;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    height: 70px;
    width: 100%;
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color 0.3s ease;
    z-index: 1030; 
}
.navtop div {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    align-items: center;
}
.navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
   
}
.navtop div h1 {
    flex: 1;
    font-size: 20px;
    padding: 0 15px;
    margin: 0;
    color: #383838;
    font-weight: bold;
    transition: color 0.3s ease;
}
.navtop div a {
    display: inline-flex; 
    padding: 15px; 
    text-decoration: none; 
    color: #383838; 
    font-weight: normal; 
    transition: color 0.3s ease; 
}

.navtop div a:hover {
    color: #F0F7F4;
 
}
/* End - navbar */

/* .container {
    margin: 200px;
} */


/* flash message */
#flash-messages {
    position: fixed;
    top: 70px;
    right: 0;
    z-index: 1000;
    width: 30%;
    text-align: center;
  }
  
  .alert {
    transition: ocacity 0.6s ease;
  }
  
  #flash-messages .alert {
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.1)
  }
  
  .alert-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
  }
  
  .alert-warning  {
    background-color: #fff3cd;
    color: #856404;
    border-color: #ffeeba;
  }
  
  .closebtn {
    margin-left: 15px;
    color: #aaaaaa;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: #000;
    text-decoration: none;
  }
  
  /* End - flash message */

/* password input */
.input-group {
    position: relative;
}

.input-group-append {
    position: absolute;
    right: 10px;
    top: 6px;
    cursor: pointer;
    z-index: 2;
}

.input-group .form-control {
    padding-right: 30px;
}

.tooltip {
    display: none;
    position: absolute;
    opacity: 1;
    background-color: #f9f9f9;
    border: 1px solid #d3d3d3;
    padding: 5px;
    top: 40px;
}
/* End password input */

/* Compare payment plan */
.custom-table {
    border-radius: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.text-start {
    margin-left: 50px; 
}

.form-control:focus {
    border-color: #198754;
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
  }