{% extends 'layout.html' %}

{% block title %}Price Management{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">
{% endblock %}

{% block navbar %}
{% include 'manager_navbar.html' %}
{% endblock %}

{% block content %}
<section class="py-3 text-center container-fluid mb-5 mt-4" style="background-image: linear-gradient(to right, #198754, #70c286);">
    <div class="row py-lg-3 mx-0">
      <div class="col-lg-6 col-md-8 mx-auto text-light">
        <h2 class="fw-normal display-5">MANAGE PRICING</h2>
        <p class="lead">Set and update pricing for all classes and therapy sessions to ensure accurate financial transactions.</p>
      </div>
    </div>
  </section>

<div class="container">
    <div class="row align-items-center mt-3 mb-3">
        <div class="col-10">
            <input type="text" id="filterInput" class="form-control" onkeyup="searchFilterTable()" placeholder="Search...">
        </div>
        <div class="col-2 text-end">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addPriceModal">Add New Price</button>
        </div>
    </div>
    <!--Add New Price Modal-->
    <div class="modal fade" id="addPriceModal" tabindex="-1" aria-labelledby="addPriceModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-m">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-success">Add New Price</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="{{ url_for('manager.update_price') }}">
                    <div class="modal-body">
                        <!-- Editable fields -->
                        <div class="row justify-content-around">
                            <div class="form-group col-6 mb-3 ">
                                <label class = "mb-2 text-success" for="price_name">Price Name</label>
                                <input type="text" class="form-control" name="price_name" id="price_name" required>
                            </div>
                            <div class="form-group col-6 mb-3 ">
                                <label class = "mb-2 text-success" for="type">Type</label>
                                <select class="form-select form-control" aria-label="Default select" name="type" id="type" required>
                                    <option selected disabled value="">Choose type...</option>
                                    {% for type in payment_types %}
                                    <option value="{{ type }}">{{type}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-3 ">
                            <label class = "mb-2 text-success" for="price">Price</label>
                            <input type="number" class="form-control" name="price" id="price" min="1" title="Please enter a valid number."
                                required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table class="table table-hover rounded-shadow" id="activeTable">
        <thead>
            <tr>
                <th class="ml-auto text-center" scope="col" onclick="sortTable(0)">Price ID <i class="fa-solid fa-sort sort-icon"></i></th>
                <th class="ml-auto text-center" scope="col" onclick="sortTable(1)">Price Name <i class="fa-solid fa-sort sort-icon"></i></th>
                <th class="ml-auto text-center" scope="col" onclick="sortTable(2)">Price Type <i class="fa-solid fa-sort sort-icon"></i></th>
                <th class="ml-auto text-center" scope="col" onclick="sortTable(3)">Price <i class="fa-solid fa-sort sort-icon"></i></th>
                <th class="ml-auto text-center" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="activeTableBody">
            {% for price in prices %}
            <tr>
                <td class="ml-auto text-center">{{ price[0] }}</td>
                <td class="ml-auto text-center">{{ price[1] }}</td>
                <td class="ml-auto text-center" style="text-transform: capitalize;">{{ price[2] }}</td>
                <td class="ml-auto text-center">${{ price[3] }}</td>
                <td class="ml-auto text-center">
                    <div class="action-buttons">
                        <button type="button" class="btn btn-link" data-bs-toggle="modal"
                                data-bs-target="#editPriceModal{{ loop.index }}">
                                <i class="fa-solid fa-pen-to-square icon-color"></i>
                            </button> 
                    </div>
                </td>
            </tr>

            <!--Edit Room Modal-->
            <div class="modal fade" id="editPriceModal{{ loop.index }}" tabindex="-1" aria-labelledby="editPriceModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-success">Edit Price {{price[0]}} - {{price[1]}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="POST" action="{{ url_for('manager.update_price') }}">
                            <div class="modal-body">
                                <!-- Hidden fields to send driver id and run num to backend -->
                                <input type="hidden" name="price_id" value="{{ price[0] }}">
                                <!-- Editable fields -->
                                <div class="row justify-content-around">
                                    <div class="form-group col-8 mb-3 ">
                                        <label class = "mb-2 text-success" for="price_name">Price Name</label>
                                        <input type="text" class="form-control" name="price_name" id="price_name" value="{{ price[1] }}" required>
                                    </div>
                                    <div class="form-group col-4 mb-3 ">
                                        <label class = "mb-2 text-success" for="type">Type</label>
                                        <select class="form-select form-control" aria-label="Default select" name="type" id="type" required>
                                            <option selected disabled value="">Please choose one...</option>
                                            {% for type in payment_types %}
                                            <option value="{{ type }}" {% if price[2]==type %} selected {% endif %}>{{type}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group mb-3 ">
                                    <label class = "mb-2 text-success" for="price">Price</label>
                                    <input type="number" class="form-control" name="price" id="price" min="1"
                                        title="Please enter a valid number." value="{{ price[3] }}" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Edit Price</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Delete Confitmation Modal -->
            <div class="modal fade" id="deletePriceModal{{ loop.index }}" tabindex="-1" aria-labelledby="deletePriceModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-m">
                    <div class="modal-content card">
                        <div class="modal-header">
                            <h5 class="modal-title">Delete Price {{price[0]}} - {{price[1]}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete {{ price[1] }}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                            <form method="POST" action="{{ url_for('manager.delete_price')}}">
                                <!-- Hidden fields to send driver id and run num to backend -->
                                <input type="hidden" name="price_id" value="{{ price[0] }}">
                                <!-- Editable fields -->
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
    <!-- page selection -->
    <div class="row mb-5">
        <div class="col-12 d-flex justify-content-end align-items-center " >
        <p class="mb-0 text-success" style="margin-right: 5px;">Show</p>
            <select id="pageSizeSelect" class="form-select" style="width: auto;">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination" id="pagination">
                <li class="page-item">
                    <a class="page-link text-success" href="#" aria-label="First" onclick="goToFirstPage()">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link text-success" href="#" aria-label="Last" onclick="goToLastPage()">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='script/table_functions.js')}}"></script>
{% endblock %}