{% extends 'layout.html' %}

{% block title %}Popular Class Report{% endblock %}

{% block navbar %}
{% include 'manager_navbar.html' %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('manager.static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<section class="py-3 text-center container-fluid mb-5 mt-4" style="background-image: linear-gradient(to right, #198754, #70c286);">
    <div class="row py-lg-3 mx-0">
      <div class="col-lg-6 col-md-8 mx-auto text-light">
        <h2 class="fw-normal display-5">POPULAR CLASSES REPORT</h2>
        <p class="lead">Review the most popular classes to understand member preferences and optimize class schedules.</p>
      </div>
    </div>
  </section>

<div class="container">
    <div class="row mb-5">
        <h3 class="fw-light my-0 mb-5 text-success">Health and Wellness Classes Trends</h3>
        <canvas id="classBarChart" width="300" height="80"></canvas>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
    var popular_class_reports = {{ popular_class_reports | tojson | safe }};
</script>
<script src="{{url_for('manager.static', filename='script/manager_popular_chart.js')}}"></script>
{% endblock %}