{% extends 'layout.html' %}

{% block title %}Payment track{% endblock %}

{% block navbar %}
{% include 'manager_navbar.html' %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">
{% endblock %}

{% block content %}
<section class="py-3 text-center container-fluid mb-5 mt-4" style="background-image: linear-gradient(to right, #198754, #70c286);">
  <div class="row py-lg-3 mx-0">
    <div class="col-lg-6 col-md-8 mx-auto text-light">
      <h2 class="fw-normal display-5">TRACKING PAYMENTS</h2>
      <p class="lead">Monitor all payment activities to ensure timely and accurate financial transactions across the platform.</p>
    </div>
  </div>
</section>

<div class="container">
  <div class="row align-items-center mt-3 mb-3">
    <div class="col-12">
      <input type="text" id="filterInput" class="form-control" onkeyup="searchFilterTable()" placeholder="Search...">
    </div>
  </div>
  <table class="table table-hover rounded-shadow" id="activeTable">
    <thead>
      <tr>
        <th class="ml-auto text-center" scope="col" onclick="sortTable(0)">Payment ID <i class="fa-solid fa-sort sort-icon"></i></th>
        <th class="ml-auto text-center" scope="col" onclick="sortTable(1)">Member ID <i class="fa-solid fa-sort sort-icon"></i></th>
        <th class="ml-auto text-center" scope="col" onclick="sortTable(2)">Payer Name <i class="fa-solid fa-sort sort-icon"></i></th>
        <th class="ml-auto text-center" scope="col" onclick="sortTable(3)">Type <i class="fa-solid fa-sort sort-icon"></i></th>
        <th class="ml-auto text-center" scope="col" onclick="sortTable(4)">Details <i class="fa-solid fa-sort sort-icon"></i></th>
        <th class="ml-auto text-center" scope="col" onclick="sortTable(5)">Date <i class="fa-solid fa-sort sort-icon"></i></th>
        <th class="ml-auto text-center" scope="col" onclick="sortTable(6)">Amount <i class="fa-solid fa-sort sort-icon"></i></th>
      </tr>
    </thead>
    <tbody id="activeTableBody">
      {% for trans in transactions %}
      <tr>
        <td class="ml-auto text-center">{{ trans[0] }}</td>
        <td class="ml-auto text-center">{{ trans[1] }}</td>
        <td class="ml-auto text-center">{{ trans[2] }} {{ trans[3] }}</td>
        <td class="ml-auto text-center" style="text-transform: capitalize;">{{ trans[4] }}</td>
        <td class="ml-auto text-center">{{ trans[5].split('-')[0].strip() }}</td>
        <td class="ml-auto text-center">{{ trans[6].strftime('%d-%m-%Y') }}</td>
        <td class="ml-auto text-center">${{ trans[7] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- page selection -->
  <div class="row mb-5">
    <div class="col-12 d-flex justify-content-end align-items-center " >
    <p class="mb-0 text-success" style="margin-right: 5px;">Show</p>
        <select id="pageSizeSelect" class="form-select" style="width: auto;">
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination" id="pagination">
            <li class="page-item">
                <a class="page-link text-success" href="#" aria-label="First" onclick="goToFirstPage()">
                <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link text-success" href="#" aria-label="Last" onclick="goToLastPage()">
                <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='script/table_functions.js')}}"></script>
{% endblock %}