html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Sidebar Styles */
.sidebar {
  position:fixed;
  left: 0;
  width: 220px; 
  height: 100vh;
  background-color: #EBF0EF; 
  padding-top: 30px; 
  z-index: 1000;
  overflow-y: auto;
  transition: all 0.3s;
}

.sidebar a {
  padding: 5px 25px;
  text-decoration: none;
  font-size: 15px;
  color: #1c5333;
  display: block;
  transition: all 0.3s;
}

.sidebar a span {
  display: block;
  padding: 10px 10px; 
  transition: all 0.3s;
}

.sidebar a:hover span {
  background: #198754; 
  color: #F0F7F4;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;

}

.sidebar a i {
  margin-right: 8px;
}

.main-content {
  margin-left: 300px; 
  margin-right: 100px; 
  padding: 40px;
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card:hover {
  transform: scale(1.05); 
  filter: brightness(110%); 
}

.text-shadow-1 { text-shadow: 2px 2px 4px rgba(0,0,0,0.75); }

.upcoming {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 5px; 
}

.width-table {
  width: 60%; 
  margin: auto; 
}

.rounded-shadow {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 15px;
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

th { 
  font-size: 24px; 
  font-weight: normal;
}

td {
  padding-left: 100px !important;
}

.form-width {
  max-width: 50%; 
  margin: auto; 
}

.form-label {
  color:#198754
}

.form-select:focus {
  border-color: #198754; 
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25); 
  }

.form-control:focus {
  border-color: #198754; 
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25); 
  }

/* checkbox style */
:root {
  --checkbox-checked-color: #198754; 
  --checkbox-unchecked-color: #198754; 
}

.form-check-input:checked {
  background-color: var(--checkbox-checked-color);
  border-color: var(--checkbox-checked-color);
}

.form-check-input:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25); 
}

.form-check-input:focus:before {
  box-shadow: none; 
  }

.form-check-input:focus:checked {
box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25); 
}
/* End - checkbox style */