{% extends 'layout.html' %}
{% block title %}Session Schedule{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">
{% endblock %}

{% block navbar %}
{% include 'member_navbar.html' %}
{% endblock %}

{% block content %}
<section class="py-3 text-center container-fluid mt-4" style="background-image: linear-gradient(to right, #198754, #70c286);">
  <div class="row py-lg-3 mx-0">
    <div class="col-lg-6 col-md-8 mx-auto text-light">
      <h2 class="fw-normal display-5">MY BOOKINGS</h2>
      <p class="lead">Manage your bookings, track your sessions, and stay updated with ease</p>
    </div>
  </div>
</section>

<div class="container mt-5">
  <div class="row align-items-center mt-3 mb-3">
    <div class="col-auto">
      <p class="text-success mb-0">Status Filter:</p>
    </div>
    <div class="col-auto">
      <select id="bookingFilter" class="form-select" aria-label=".form-select">
        <option value="all">Show All</option>
        <option value="available" selected>Available</option>
        <option value="expired">Expired</option>
      </select>
    </div>
    <div class="ms-auto col-9">
      <input type="text" id="filterInput" class="form-control" onkeyup="searchFilterTable()" placeholder="Search...">
    </div>
  </div>
  <table class="table table-hover rounded-shadow" id="activeTable">
    <thead>
      <tr>
        <th class="ml-auto text-center" scope="col" onclick="sortTable(0)">Bookings <i class="fa-solid fa-sort sort-icon"></i></th>
        <th class="ml-auto text-center" scope="col" onclick="sortTable(1)">Date <i class="fa-solid fa-sort sort-icon"></i></th>
        <th class="ml-auto text-center" scope="col" onclick="sortTable(2)">Time <i class="fa-solid fa-sort sort-icon"></i></th>
        <th class="ml-auto text-center" scope="col" onclick="sortTable(3)">Class/Session Type <i class="fa-solid fa-sort sort-icon"></i></th>
        <th class="ml-auto text-center" scope="col" onclick="sortTable(4)">Location <i class="fa-solid fa-sort sort-icon"></i></th>
        <th class="ml-auto text-center" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody id="activeTableBody">
      {% for booking in bookings %}
      <tr>
        <td class="ml-auto text-center">{% if booking['booking_type'] == "therapeutic" %}Private Therapeutic {% else
          %}Group Class{% endif %}</td>
        <td class="ml-auto text-center">{{ booking['date'].strftime('%d-%m-%Y') }}</td>
        <td class="ml-auto text-center">
          {% set total_seconds_start = booking['start_time'].total_seconds() %}
          {% set hours_start = total_seconds_start // 3600 %}
          {% set minutes_start = (total_seconds_start % 3600) // 60 %}
          {% set total_seconds_end = booking['end_time'].total_seconds() %}
          {% set hours_end = total_seconds_end // 3600 %}
          {% set minutes_end = (total_seconds_end % 3600) // 60 %}
          {{ "%02d:%02d" | format(hours_start, minutes_start)}} - {{ "%02d:%02d" | format(hours_end, minutes_end)}}</td>
        <td class="ml-auto text-center">{{ booking['event_type'] }}</td>
        <td class="ml-auto text-center">{{ booking['location'] }}</td>
        <td class="ml-auto text-center">
            <div class="action-buttons">
              {% if booking['date'] >= date %}
              <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteBookingModal{{ loop.index }}">
                <i class="fa-solid fa-xmark icon-color"></i>
              </button>
              {% else %}
              <p class="text-danger">Expired</p>
              {% endif %}
            </div>
        </td>     
      </tr>
      <!-- Cancel Confirmation Modal -->
      <div class="modal fade" id="deleteBookingModal{{ loop.index }}" tabindex="-1" aria-labelledby="deleteBookingModalLabel"
        aria-hidden="true">
        <div class="delete_modal modal-dialog modal-dialog-centered modal-m">
          <div class="modal-content card">
            <div class="modal-header">
              <h5 class="modal-title">Cancel Booking</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Cancel the booking of <strong>{{booking['event_type']}} on {{ booking['date'].strftime('%d-%m-%Y') }} at {{ "%02d:%02d" | format(hours_start, minutes_start)}}</strong>?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
              <form action="{{ url_for('member.cancel_booking') }}" method="post">
                <!-- Hidden fields to send driver id and run num to backend -->
                <input type="hidden" name="bookingId" value="{{ booking.booking_id }}">
                <input type="hidden" name="bookingType" value="{{ booking.booking_type }}">
                <input type="hidden" name="therapeuticId" value="{{ booking.event_id }}">
                <!-- Editable fields -->
                <button type="submit" class="btn btn-danger">Confirm</button>
              </form>
            </div>
          </div>
        </div>
      </div>
     {% endfor %}
    </tbody>
  </table>
  <!-- page selection -->
  <div class="row mb-5">
    <div class="col-12 d-flex justify-content-end align-items-center " >
    <p class="mb-0 text-success" style="margin-right: 5px;">Show</p>
        <select id="pageSizeSelect" class="form-select" style="width: auto;">
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination" id="pagination">
            <li class="page-item">
                <a class="page-link text-success" href="#" aria-label="First" onclick="goToFirstPage()">
                <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link text-success" href="#" aria-label="Last" onclick="goToLastPage()">
                <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            </ul>
        </nav>
    </div>
  </div>
</div>         
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='script/table_functions.js')}}"></script>
{% endblock %}