{% extends "layout.html" %}

{% block title %}Member Profile{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">
{% endblock %}

{% block navbar %}
{% include 'member_navbar.html' %}
{% endblock %}

{% block content %}
<section class="py-3 text-center container-fluid mb-5 mt-4" style="background-image: linear-gradient(to right, #198754, #70c286);">
	<div class="row py-lg-3 mx-0">
	  <div class="col-lg-6 col-md-8 mx-auto text-light">
		<h2 class="fw-normal display-5">MANAGE PROFILE</h2>
		<p class="lead">Manage your profile and password here.</p>
	  </div>
	</div>
</section>

<div class="container mt-3">
	<table class="table width-table rounded-shadow ">
		<thead>
		  <tr>
			<th colspan="2" class="text-center text-white bg-success">Details</th>
		  </tr>
		</thead>
		<tbody>
		<tr>
			<td class="text-success"><strong>Profile Image:</strong></td>
			<td>
				{% if member.profile_image %}
				<img src="/static/image/profile_image/{{ member[14] }}" class="rounded-circle" style="width: 50px; height: 50px;" alt="Profile Image"/>
				{% else %}
                <img src="{{ url_for('static', filename='image/profile_image/default_profile.jpg') }}" alt="Profile Image"
                        class="rounded-circle" style="width: 50px; height: 50px;"></td>
				{% endif %}
			</td>
		</tr>
		<tr>
			<td class="text-success"><strong>Username:</strong></td>
			<td>{{ member[1] }}</td>
		</tr>
		<tr>
			<td class="text-success"><strong>Title:</strong></td>
			<td>{{ member[5] }}</td>
		</tr>
		<tr>
			<td class="text-success"><strong>First Name:</strong></td>
			<td style="text-transform: capitalize;">{{ member[6] }}</td>
		</tr>
		<tr>
			<td class="text-success"><strong>Last Name:</strong></td>
			<td style="text-transform: capitalize;">{{ member[7] }}</td>
		</tr>
		<tr>
			<td class="text-success"><strong>Position:</strong></td>
			<td style="text-transform: capitalize;">{{ member[8] }}</td>
		</tr>
		<tr>
			<td class="text-success"><strong>Phone:</strong></td>
			<td>{{ member[9] }}</td>
		</tr>
		<tr>
			<td class="text-success"><strong>Email:</strong></td>
			<td>{{ member[10] }}</td>
		</tr>
		<tr>
			<td class="text-success"><strong>Address:</strong></td>
			<td>{{ member[11] }}</td>
		</tr>
		<tr>
			<td class="text-success"><strong>Date of Birth:</strong></td>
			<td>{{ member[12].strftime('%d-%m-%Y') }}</td>
		</tr>
		<tr>
			<td class="text-success"><strong>Health Information:</strong></td>
			<td>{% if member[15] %}{{ member[15] }}{% else %} None {% endif %}</td>
		</tr>
		</tbody>
	</table>
</div>

	<div class="col-md-12 mt-5 mb-5 text-center">
		<div class="d-flex justify-content-center">
			<form action="{{ url_for('member.manage_profile') }}" method="get" class="me-2">
				<button type="submit" class="btn btn-success">Update Profile</button>
			</form>              
			<a href="{{ url_for('auth.change_password') }}" class="btn btn-success ms-2">Change Password</a>
		</div>             
	</div>

{% endblock %}

