{% extends 'layout.html' %}

{% block title %}Change Password{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('auth.static', filename='css/style.css') }}">

{% endblock %}

{% block navbar %}
{% if role == 'member' %}
{% include 'member_navbar.html' %}
{% elif role == 'therapist' %}
{% include 'therapist_navbar.html' %}
{% else %}
{% include 'manager_navbar.html' %}
{% endif %}
{% endblock %}

{% block content %}
<!-- Heading section -->
<section class="py-3 text-center container-fluid mt-4" style="background-image: linear-gradient(to right, #198754, #70c286);">
    <div class="row py-lg-3 mx-0">
      <div class="col-lg-6 col-md-8 mx-auto text-light">
        <h2 class="fw-normal display-5">CHANGE PASSWORD</h2>
        <p class="lead">Change your password here.</p>
      </div>
    </div>
</section>

<div class="container container-page my-5 rounded">
    <div class="profile-card ms-auto">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card mt-2">
                    <div class="card-header bg-success text-white">
                        <h4 class="my-0">Change Password</h4>
                    </div>
                    <!-- Change Password Form for all roles -->
                    <div class="card-body">
                        <form method="POST" action="{{ url_for('auth.change_password') }}">
                            <div class="mb-3">
                                <label for="current_password" class="fw-bold form-label">Current Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" name="current_password" id="current_password"
                                        title="Password must be at least 8 characters long and conatin uppercase, lowercase, number and special characters." required>
                                    <div class="input-group-append">
                                        <i class="fa-regular fa-eye" aria-hidden="true"
                                            onclick="toggle_password_visibility('current_password')"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="new_password" class="fw-bold form-label">New Password</label>
                                <div class="input-group">
                                    <!-- Pattern for checking password complexity -->
                                    <input type="password" class="form-control" name="new_password" id="new_password"
                                        title="Password must be at least 8 characters long and conatin uppercase, lowercase, number and special characters."
                                        oninput="validate_password('new_password', 'new_password_tooltip')" required>
                                    <div class="input-group-append">
                                        <!-- Toggle password visibility -->
                                        <i class="fa-regular fa-eye" aria-hidden="true"
                                            onclick="toggle_password_visibility('new_password')"></i>
                                    </div>
                                    <div class="tooltip" id="new_password_tooltip">
                                        Password must be: <br />
                                        - at least 8 characters long <br />
                                        - conatin uppercase, lowercase, number and special characters.
                                    </div>
                                </div>
                            </div>
                            <div class="mb-5">
                                <label for="confirm_password" class="fw-bold form-label">Confirm Password</label>
                                <div class="input-group">
                                    <!-- Pattern for checking password complexity -->
                                    <input type="password" class="form-control" name="confirm_password" id="confirm_password"
                                        title="Password must be at least 8 characters long and conatin uppercase, lowercase, number and special characters."
                                        oninput="validate_password('confirm_password', 'confirm_password_tooltip')" required>
                                    <div class="input-group-append">
                                        <!-- Toggle password visibility -->
                                        <i class="fa-regular fa-eye" aria-hidden="true"
                                            onclick="toggle_password_visibility('confirm_password')"></i>
                                    </div>
                                    <div class="tooltip" id="confirm_password_tooltip">
                                        Password must be: <br />
                                        - at least 8 characters long <br />
                                        - conatin uppercase, lowercase, number and special characters.
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success btn-block">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{url_for('auth.static', filename='script/auth.js')}}"></script>
{% endblock %}